.layout{
    display: flex;
    flex-direction: column;
    background-color: rgb(155, 154, 154);
    height: 100vh;
}
.middle{
    display: flex;
    flex-direction: row;
    height: calc(100vh - 140px);
  
}
.navbar{
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;
    width: 100%;
    margin: calc(20px + 1%);
    border: 1px solid red;
    overflow-y: auto;

}